@namespace AlphaMDHealth.WebClient
@inherits BasePage
@page "/OrganisationSetup"
@page "/OrganisationView"
@page "/OrganisationAddEdit"
@page "/OrganisationAddEdit/{organisationid:long}"

@if (_isDataFetched)
{
    <BasePage @bind-Error=@Error
              @bind-Success=@Success
              CurrentPage=@this
              PageResources=@_organisationData.Resources
              ShowDetailPage=@ShowDetailPage
              ApplyFixedFooter=@true
              ApplyCard=true
              IsAccordion=true
              PageOperation=@PageOperationType.Edit
              PageTitle=@(IsManageOrganization ? LibResources.GetResourceValueByKey(_organisationData.Resources, ResourceConstants.R_PROFILE_HEADER_KEY) : AppState.RouterData?.SelectedRoute?.FeatureText)
              RegisterComp=@RegisterControl>
        <ChildContent>
            @if (_organisationData.ErrCode == ErrorCode.OK)
            {
                @* for organization profile _organisationData.OrganisationID > 0 *@
                @if (_organisationData.OrganisationID > 0)
                {
                    <AmhLanguageTabControl DataSourceType=@ContentDetailModel
                                           LanguageTabData=@DataFormatter
                                           DataSource=@_organisationData.PageDetails
                                           IsControlEnabled=@_isEditable />
                }
                else
                {
                    @* for manage organisation _organisationData.OrganisationID == 0 *@
                    <AmhEntryControl @bind-Value=@_organisationData.OrganisationProfile.OrganisationName
                                     ResourceKey=@ResourceConstants.R_ORGANISATION_NAME_KEY
                                     RegexExpression=@LibSettings.GetSettingValueByKey(_organisationData.Settings, SettingsConstants.S_ALPHA_REGEX_KEY)
                                     IsControlEnabled=@_isEditable />
                }
                <AmhEntryControl @bind-Value=@_organisationData.OrganisationProfile.OrganisationDomain
                                 ResourceKey=@ResourceConstants.R_DOMAIN_KEY
                                 IsControlEnabled=@(_isEditable && _organisationData.OrganisationID == 0) />

                <AmhEntryControl @bind-Value=@_organisationData.OrganisationProfile.TaxNumber
                                 ResourceKey=@ResourceConstants.R_TAX_NUMBER_KEY
                                 RegexExpression=@LibSettings.GetSettingValueByKey(_organisationData.Settings, SettingsConstants.S_ALPHA_NUMERIC_REGEX_KEY)
                                 IsControlEnabled=@_isEditable />

                <AmhDropdownControl @bind-Value=@_selectedValue
                                    OnValueChanged=@OnDefaultLanguageChange
                                    ResourceKey=@ResourceConstants.R_DEFAULT_LANGUAGE_KEY
                                    Options=@_organisationData?.DropDownOptions
                                    IsControlEnabled=@_isEditable />

                <AmhDropdownControl @bind-Options=@_organisationData.Languages
                                    ResourceKey=@ResourceConstants.R_SELECT_LANGUAGES_KEY
                                    IsControlEnabled=@_isEditable />

                @if (IsManageOrganization)
                {
                    <AmhDropdownControl @bind-Options=@_organisationData.PaymentPlans
                                        ResourceKey=@ResourceConstants.R_SELECT_PAYMENT_PLAN_KEY
                                        IsControlEnabled=@_isEditable />

                    <AmhDropdownControl @bind-Options=@_organisationData.ExternalServices
                                        ResourceKey=@ResourceConstants.R_SELECT_SERVICE_KEY
                                        IsControlEnabled=@_isEditable />

                    <span class="mt-3"></span>
                    <AmhLabelControl ResourceKey=@ResourceConstants.R_ORGANISATION_SERVICES_SUBSCRIPTION_KEY />
                    <span class="mt-2"></span>
                    <AmhLabelControl ResourceKey=@ResourceConstants.R_FOR_ORGANISATION_KEY FieldType=FieldTypes.TertiaryMediumHStartVCenterBoldLabelControl  />

                    <AmhNumericEntryControl @bind-Value=@_unitPriceForOrganisation
                                            ResourceKey=@ResourceConstants.R_UNIT_PRICE_KEY
                                            UniqueID="1"
                                            IsControlEnabled=@_isEditable />

                    <AmhNumericEntryControl @bind-Value=@_discountForOrganisation
                                            ResourceKey=@ResourceConstants.R_DISCOUNT_PERCENTAGE_KEY
                                            UniqueID="1"
                                            IsControlEnabled=@_isEditable />


                    <AmhNumericEntryControl @bind-Value=@_minimumToBuyForOrganisation
                                            ResourceKey=@ResourceConstants.R_MINIMUM_TO_BUY_KEY
                                            UniqueID="1"
                                            IsControlEnabled=@_isEditable />
                    <span class="mt-2"></span>
                    <AmhLabelControl ResourceKey=@ResourceConstants.R_FOR_PATIENT_KEY FieldType=FieldTypes.TertiaryMediumHStartVCenterBoldLabelControl />

                    <AmhNumericEntryControl @bind-Value=@_unitPriceForPatient
                                            ResourceKey=@ResourceConstants.R_UNIT_PRICE_KEY
                                            UniqueID="2"
                                            IsControlEnabled=@_isEditable />

                    <AmhNumericEntryControl @bind-Value=@_discountForPatient
                                            ResourceKey=@ResourceConstants.R_DISCOUNT_PERCENTAGE_KEY
                                            UniqueID="2"
                                            IsControlEnabled=@_isEditable />


                    <AmhNumericEntryControl @bind-Value=@_minimumToBuyForPatient
                                            ResourceKey=@ResourceConstants.R_MINIMUM_TO_BUY_KEY
                                            UniqueID="2"
                                            IsControlEnabled=@_isEditable />
                }
            }
            else
            {
                <AmhMessageControl ResourceKey=@_organisationData.ErrCode.ToString() />
            }
        </ChildContent>
        <PageFooter>
            @if (LibPermissions.HasPermission(_organisationData.FeaturePermissions
           , AppState.RouterData.SelectedRoute.Page == AppPermissions.OrganisationSetup.ToString() ? AppPermissions.OrganisationSetup.ToString() : AppPermissions.OrganisationAddEdit.ToString()))
            {
                <AmhButtonControl ResourceKey=@(_organisationData.OrganisationID < 1 ? ResourceConstants.R_REGISTER_ACTION_KEY : ResourceConstants.R_SAVE_ACTION_KEY)
                                  OnValueChanged=@OnSaveButtonClickedAsync />
            }
            @if (_organisationData.OrganisationID >= 0 && IsManageOrganization)
            {
                <AmhButtonControl ResourceKey=@ResourceConstants.R_CANCEL_ACTION_KEY
                                  OnValueChanged=@OnCancelClickedAsync />
            }
        </PageFooter>
    </BasePage>
}