<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/79d5e86d-77b5-4b3f-bd44-77d938ab5c85/resourceGroups/my_rnd_tasks/providers/Microsoft.Web/sites/PersonalHealthWeb</ResourceId>
    <ResourceGroup>my_rnd_tasks</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://personalhealthweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>personalhealthweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PersonalHealthWeb</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PersonalHealthWeb</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>