@namespace AlphaMDHealth.WebClient
@inherits BasePage

@if (_isDataFetched)
{
    <BasePage @bind-Error=@Error
              @bind-Success=@Success
              CurrentPage=@this
              PageTitle=@LibPermissions.GetFeatureText(AppState.MasterData.OrganisationFeatures, AppPermissions.SubflowAddEdit.ToString())
              PageOperation=@GetPageOperationType(_isEditable, _programData.SubFlow.ProgramSubFlowID == 0)
              PageResources=@_programData.Resources
              OnClose=@OnClose
              IsAccordion=@IsAccordion
              ApplyFixedFooter=true
              ApplyCard=true
              RegisterComp=@RegisterControl>
        <ChildContent>
            <AmhDropdownControl @bind-Options=@_programData.TaskTypes
                                ResourceKey=@ResourceConstants.R_TASK_TYPE_KEY
                                IsControlEnabled=@_isEditable
                                OnValueChanged=@SelectedItemChangedAsync />

            <AmhDropdownControl @bind-Options=@_programData.Items
                                ResourceKey=@ResourceConstants.R_ITEM_KEY
                                IsControlEnabled=@_isEditable />

            <AmhDropdownControl @bind-Options=@_programData.ProgramSubFlows
                                ResourceKey=@ResourceConstants.R_SELECT_SUBFLOW_KEY
                                IsControlEnabled=@_isEditable
                                OnValueChanged=@SelectedSubFlowChanged />
            <span class="mt-1"></span>
            <AmhLabelControl FieldType=@FieldTypes.PrimarySmallHStartVCenterBoldLabelControl
                             ResourceKey=@ResourceConstants.R_TASK_TYPE_KEY />
            <AmhLabelControl Value=@(string.IsNullOrWhiteSpace(_programData.SubFlow.TaskType) ? Constants.SYMBOL_DOUBLE_HYPHEN : _programData.SubFlow.TaskType) />

            <AmhLabelControl FieldType=@FieldTypes.PrimarySmallHStartVCenterBoldLabelControl
                             ResourceKey=@ResourceConstants.R_ITEM_KEY />
            <AmhLabelControl Value=@(string.IsNullOrWhiteSpace(_programData.SubFlow.Item) ? Constants.SYMBOL_DOUBLE_HYPHEN : _programData.SubFlow.Item) />

            <AmhLabelControl FieldType=@FieldTypes.PrimarySmallHStartVCenterBoldLabelControl
                             ResourceKey=@ResourceConstants.R_OPERATION_TYPE_KEY />
            <AmhLabelControl Value=@_operationTypeValue />

            <AmhNumericEntryControl @bind-Value=@_assignAfterDays
                                    ResourceKey=@ResourceConstants.R_ASSIGN_AFTER_DAYS_KEY
                                    IsControlEnabled=@_isEditable />

            <AmhNumericEntryControl @bind-Value=@_assignForDays
                                    ResourceKey=@ResourceConstants.R_SHOW_FOR_DAYS_KEY
                                    IsControlEnabled=_isEditable />

            <AmhMessageControl ResourceKey=@ResourceConstants.R_DELETE_CONFIRMATION_KEY
                               ShowHidePopup=@_hideConfirmationPopup
                               Actions=@_actionData
                               OnValueChanged=@OnDeleteConfirmationActionClickedAsync />
        </ChildContent>
        <PageFooter>
            @if (_programData.SubFlow.ProgramSubFlowID != 0 && LibPermissions.HasPermission(_programData.FeaturePermissions, AppPermissions.SubflowDelete.ToString()) && _isEditable)
            {
                <AmhButtonControl ResourceKey=@ResourceConstants.R_DELETE_ACTION_KEY OnValueChanged=@OnDeleteActionClicked />
            }
            @if (_isEditable)
            {
                <AmhButtonControl ResourceKey=@ResourceConstants.R_SAVE_ACTION_KEY OnValueChanged=@OnSaveActionClickedAsync />
            }
            <AmhButtonControl ResourceKey=@ResourceConstants.R_CANCEL_ACTION_KEY OnValueChanged=@OnCancelActionClicked />
        </PageFooter>
    </BasePage>
}